@import "./variable.css";







.container {
    width: 1480px;
}

.logo {
    color: black;
    width: 1280px;
    font-size: 80px;
    margin: 63px 0 0 98px;
    
}

a {
    text-decoration: none;

}



.color__text {
color: #4BCAFF;
}

.header__nav {
    display: flex;
    justify-content: center;
    padding: 2rem;

}

.nav__item {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #35444F;
    width: 1280px;

}

.nav__link {
padding: 2rem;
border: 1px #35444F solid;
border-right-color: whitesmoke;
border-left-color: whitesmoke;
color: white;
font-size: 24px;
font-family: "T-Roboto";
font-style: normal;
}

.button__nav {
    background-color: #35444F;
    color: white;
    border: none;
}

.button__nav:hover {
    box-shadow:
    1px 1px #14b2eb,
    2px 2px #14b2eb,
    3px 3px #14b2eb,
    4px 4px #14b2eb,
    5px 5px #14b2eb,
    6px 6px #14b2eb,
    7px 7px #14b2eb;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  transition: 200ms;
  transform: scale(1.2);
  background-color: rgba(34, 47, 58, 1);

}



.aside__menu {
position: absolute;

}


.aside__item {

    border: 1px black solid;
   width: 344px;
   margin: 63px 0 0 98px;
}

.aside__link {
    
    font-size: 26px;
    list-style-type: none;
    padding: 1rem;
    margin-left: 1.5rem;
    
}

aside {
    width: 1280px;
}

.aside__button {
    background-color: #DBDBDB;
    border: none;
}
.aside__button:hover {
    box-shadow:
    1px 1px #14b2eb,
    2px 2px #14b2eb,
    3px 3px #14b2eb,
    4px 4px #14b2eb,
    5px 5px #14b2eb,
    6px 6px #14b2eb,
    7px 7px #14b2eb;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
  transition: 200ms;
  transform: scale(1.2);
}


.main__poster {
display: flex;
justify-content: space-around;
width: 885px;
border: 1px black solid;
margin-left: 31rem;

}

.poster-wrapper {
    width: 600px;
    padding: 5rem;

}

.poster-wrapper:hover {
transition: 200ms;
transform: scale(1.2);
}

.main__text {
    margin-left: 31rem;
    font-size: 18px;
    width: 885px;
    margin-top: 2rem;
}

.main__paragraph {
    margin-top: 2rem;
}

.footer__nav {
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 3rem;
}

.footer__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: rgba(99, 105, 110, 0.48);
    width: 1300px;
}

.footer__link {
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 24px;
    list-style-type: none;
    }

    .Copyright {
        display: flex;
        justify-content: right;
        align-items: center;
        margin-left: 8rem;
        font-size: 24px;
        
    }


    .footer__link-hover:hover {
        
        text-decoration: underline;
        color: #14b2eb;
        transition: 200ms;
        transform: scale(1.2);
    }