* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "R-Roboto";
}


@font-face {
    font-family: "T-Roboto";
    src: url(/assets/fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: "R-Roboto";
    src: url(/assets/fonts/Roboto/Roboto-Regular.ttf);
}